.statistics {
    width: 650px;
    padding: 60px;
    background-color: rgb(208, 210, 209);
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.statList {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    
}

.item {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    outline: 1px solid white;
    border-radius: 2px;
}